Comum/IRLib/Service References/IRConfigs/ConfigService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BuscarConfiguracao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="configKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarConfiguracaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarConfiguracaoResult" type="tns:ConfigObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConfigObject">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ConfigKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConfigEncontrada" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfigVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarConfiguracaoDefault">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="configKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarConfiguracaoDefaultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarConfiguracaoDefaultResult" type="tns:ConfigObject" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarMensagem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MsgKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarMensagemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarMensagemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BuscarConfiguracaoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarConfiguracao" />
  </wsdl:message>
  <wsdl:message name="BuscarConfiguracaoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarConfiguracaoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarConfiguracaoDefaultSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarConfiguracaoDefault" />
  </wsdl:message>
  <wsdl:message name="BuscarConfiguracaoDefaultSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarConfiguracaoDefaultResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarMensagemSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarMensagem" />
  </wsdl:message>
  <wsdl:message name="BuscarMensagemSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarMensagemResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfigServiceSoap">
    <wsdl:operation name="BuscarConfiguracao">
      <wsdl:input message="tns:BuscarConfiguracaoSoapIn" />
      <wsdl:output message="tns:BuscarConfiguracaoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarConfiguracaoDefault">
      <wsdl:input message="tns:BuscarConfiguracaoDefaultSoapIn" />
      <wsdl:output message="tns:BuscarConfiguracaoDefaultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarMensagem">
      <wsdl:input message="tns:BuscarMensagemSoapIn" />
      <wsdl:output message="tns:BuscarMensagemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigServiceSoap" type="tns:ConfigServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarConfiguracao">
      <soap:operation soapAction="http://tempuri.org/BuscarConfiguracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarConfiguracaoDefault">
      <soap:operation soapAction="http://tempuri.org/BuscarConfiguracaoDefault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMensagem">
      <soap:operation soapAction="http://tempuri.org/BuscarMensagem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfigServiceSoap12" type="tns:ConfigServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarConfiguracao">
      <soap12:operation soapAction="http://tempuri.org/BuscarConfiguracao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarConfiguracaoDefault">
      <soap12:operation soapAction="http://tempuri.org/BuscarConfiguracaoDefault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarMensagem">
      <soap12:operation soapAction="http://tempuri.org/BuscarMensagem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigService">
    <wsdl:port name="ConfigServiceSoap" binding="tns:ConfigServiceSoap">
      <soap:address location="http://localhost/Services/ConfigService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfigServiceSoap12" binding="tns:ConfigServiceSoap12">
      <soap12:address location="http://localhost/Services/ConfigService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>