Comum/IRLib/Web References/wsTicket/TicketSendSystemServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.ticketsendsystem.edeploy/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="TicketSendSystemServiceImplService" targetNamespace="http://services.ticketsendsystem.edeploy/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.ticketsendsystem.edeploy/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="addCustomerPhoneStatus" type="tns:addCustomerPhoneStatus" />
      <xs:element name="addCustomerPhoneStatusResponse" type="tns:addCustomerPhoneStatusResponse" />
      <xs:element name="getEvents" type="tns:getEvents" />
      <xs:element name="getEventsResponse" type="tns:getEventsResponse" />
      <xs:element name="getInfo" type="tns:getInfo" />
      <xs:element name="getInfoFile" type="tns:getInfoFile" />
      <xs:element name="getInfoFileResponse" type="tns:getInfoFileResponse" />
      <xs:element name="getInfoResponse" type="tns:getInfoResponse" />
      <xs:element name="getTicketStatusFromBarcode" type="tns:getTicketStatusFromBarcode" />
      <xs:element name="getTicketStatusFromBarcodeResponse" type="tns:getTicketStatusFromBarcodeResponse" />
      <xs:element name="getTicketStatusFromEvent" type="tns:getTicketStatusFromEvent" />
      <xs:element name="getTicketStatusFromEventResponse" type="tns:getTicketStatusFromEventResponse" />
      <xs:element name="getTicketStatusFromTicketId" type="tns:getTicketStatusFromTicketId" />
      <xs:element name="getTicketStatusFromTicketIdResponse" type="tns:getTicketStatusFromTicketIdResponse" />
      <xs:element name="getValidatedBarcodes" type="tns:getValidatedBarcodes" />
      <xs:element name="getValidatedBarcodesResponse" type="tns:getValidatedBarcodesResponse" />
      <xs:element name="resendTicket" type="tns:resendTicket" />
      <xs:element name="resendTicketResponse" type="tns:resendTicketResponse" />
      <xs:element name="sendTicket" type="tns:sendTicket" />
      <xs:element name="sendTicket2" type="tns:sendTicket2" />
      <xs:element name="sendTicket2Response" type="tns:sendTicket2Response" />
      <xs:element name="sendTicketResponse" type="tns:sendTicketResponse" />
      <xs:element name="setTicketStatus" type="tns:setTicketStatus" />
      <xs:element name="setTicketStatus2" type="tns:setTicketStatus2" />
      <xs:element name="setTicketStatus2Response" type="tns:setTicketStatus2Response" />
      <xs:element name="setTicketStatusResponse" type="tns:setTicketStatusResponse" />
      <xs:complexType name="getTicketStatusFromTicketId">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element name="ticketId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AdminUser">
        <xs:sequence>
          <xs:element name="companyId" type="xs:int" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="status" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTicketStatusFromTicketIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:TicketInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TicketInfo">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="eventId" type="xs:string" />
          <xs:element minOccurs="0" name="barcode" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:TicketStatus" />
          <xs:element minOccurs="0" name="orderId" type="xs:string" />
          <xs:element minOccurs="0" name="ticketId" type="xs:string" />
          <xs:element minOccurs="0" name="customerName" type="xs:string" />
          <xs:element minOccurs="0" name="customerDocument" type="xs:string" />
          <xs:element minOccurs="0" name="sentStatus" type="tns:phoneSentStatus" />
          <xs:element minOccurs="0" name="validationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="sentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customValues" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setTicketStatus2">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element name="ticketId" type="xs:int" />
          <xs:element minOccurs="0" name="ticketStatus" type="tns:TicketStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setTicketStatus2Response">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="addCustomerPhoneStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
          <xs:element minOccurs="0" name="phoneNumber" type="tns:Phone" />
          <xs:element minOccurs="0" name="barcode" type="xs:string" />
          <xs:element minOccurs="0" name="ticketStatus" type="tns:TicketStatus" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Event">
        <xs:sequence>
          <xs:element minOccurs="0" name="eventId" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Phone">
        <xs:sequence>
          <xs:element minOccurs="0" name="countryCode" type="xs:string" />
          <xs:element minOccurs="0" name="areaCode" type="xs:string" />
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addCustomerPhoneStatusResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resendTicket">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
          <xs:element minOccurs="0" name="barcode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="resendTicketResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getTicketStatusFromEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTicketStatusFromEventResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:TicketInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEvents">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEventsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:Event" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setTicketStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
          <xs:element minOccurs="0" name="barcode" type="xs:string" />
          <xs:element minOccurs="0" name="ticketStatus" type="tns:TicketStatus" />
          <xs:element minOccurs="0" name="validatedTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setTicketStatusResponse">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="sendTicket2">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="project" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="events" type="tns:Event" />
          <xs:element minOccurs="0" name="phoneNumber" type="tns:Phone" />
          <xs:element minOccurs="0" name="messageInfo" type="tns:MessageInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="eventInfos" type="tns:EventInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MessageInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="vendor" type="xs:string" />
          <xs:element minOccurs="0" name="modelId" type="xs:int" />
          <xs:element minOccurs="0" name="messageType" type="tns:MessageType" />
          <xs:element minOccurs="0" name="text" type="xs:string" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="phone" type="tns:Phone" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ticketInfo" nillable="true" type="tns:TicketInfo" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendTicket2Response">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTicketStatusFromBarcode">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
          <xs:element minOccurs="0" name="barcode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getTicketStatusFromBarcodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:TicketInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInfoFile">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInfoFileResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getValidatedBarcodes">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getValidatedBarcodesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:validationInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="validationInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="barcode" type="xs:string" />
          <xs:element minOccurs="0" name="validationTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendTicket">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="project" type="xs:string" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
          <xs:element minOccurs="0" name="phoneNumber" type="tns:Phone" />
          <xs:element minOccurs="0" name="messageInfo" type="tns:MessageInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ticketInfos" type="tns:TicketInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sendTicketResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="adminUser" type="tns:AdminUser" />
          <xs:element minOccurs="0" name="event" type="tns:Event" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:EventInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="TicketStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CONVIDADO" />
          <xs:enumeration value="CONFIRMADO" />
          <xs:enumeration value="VALIDADO_MESA" />
          <xs:enumeration value="VALIDADO_LEITOR" />
          <xs:enumeration value="CANCELADO" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="phoneSentStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CREATED" />
          <xs:enumeration value="CREATED_WONT_SENT" />
          <xs:enumeration value="SENT" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MessageType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="EAN8" />
          <xs:enumeration value="DATAMATRIX" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="InvalidEventException" type="tns:InvalidEventException" />
      <xs:complexType name="InvalidEventException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="AuthenticationException" type="tns:AuthenticationException" />
      <xs:complexType name="AuthenticationException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="InternalErrorException" type="tns:InternalErrorException" />
      <xs:complexType name="InternalErrorException">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getInfoFile">
    <wsdl:part name="parameters" element="tns:getInfoFile" />
  </wsdl:message>
  <wsdl:message name="addCustomerPhoneStatus">
    <wsdl:part name="parameters" element="tns:addCustomerPhoneStatus" />
  </wsdl:message>
  <wsdl:message name="getValidatedBarcodesResponse">
    <wsdl:part name="parameters" element="tns:getValidatedBarcodesResponse" />
  </wsdl:message>
  <wsdl:message name="getTicketStatusFromTicketIdResponse">
    <wsdl:part name="parameters" element="tns:getTicketStatusFromTicketIdResponse" />
  </wsdl:message>
  <wsdl:message name="getTicketStatusFromBarcodeResponse">
    <wsdl:part name="parameters" element="tns:getTicketStatusFromBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="resendTicketResponse">
    <wsdl:part name="parameters" element="tns:resendTicketResponse" />
  </wsdl:message>
  <wsdl:message name="addCustomerPhoneStatusResponse">
    <wsdl:part name="parameters" element="tns:addCustomerPhoneStatusResponse" />
  </wsdl:message>
  <wsdl:message name="InvalidEventException">
    <wsdl:part name="InvalidEventException" element="tns:InvalidEventException" />
  </wsdl:message>
  <wsdl:message name="setTicketStatus">
    <wsdl:part name="parameters" element="tns:setTicketStatus" />
  </wsdl:message>
  <wsdl:message name="resendTicket">
    <wsdl:part name="parameters" element="tns:resendTicket" />
  </wsdl:message>
  <wsdl:message name="sendTicketResponse">
    <wsdl:part name="parameters" element="tns:sendTicketResponse" />
  </wsdl:message>
  <wsdl:message name="getEvents">
    <wsdl:part name="parameters" element="tns:getEvents" />
  </wsdl:message>
  <wsdl:message name="getTicketStatusFromBarcode">
    <wsdl:part name="parameters" element="tns:getTicketStatusFromBarcode" />
  </wsdl:message>
  <wsdl:message name="InternalErrorException">
    <wsdl:part name="InternalErrorException" element="tns:InternalErrorException" />
  </wsdl:message>
  <wsdl:message name="getTicketStatusFromEventResponse">
    <wsdl:part name="parameters" element="tns:getTicketStatusFromEventResponse" />
  </wsdl:message>
  <wsdl:message name="getInfoResponse">
    <wsdl:part name="parameters" element="tns:getInfoResponse" />
  </wsdl:message>
  <wsdl:message name="sendTicket2">
    <wsdl:part name="parameters" element="tns:sendTicket2" />
  </wsdl:message>
  <wsdl:message name="sendTicket2Response">
    <wsdl:part name="parameters" element="tns:sendTicket2Response" />
  </wsdl:message>
  <wsdl:message name="getInfoFileResponse">
    <wsdl:part name="parameters" element="tns:getInfoFileResponse" />
  </wsdl:message>
  <wsdl:message name="getTicketStatusFromTicketId">
    <wsdl:part name="parameters" element="tns:getTicketStatusFromTicketId" />
  </wsdl:message>
  <wsdl:message name="setTicketStatus2">
    <wsdl:part name="parameters" element="tns:setTicketStatus2" />
  </wsdl:message>
  <wsdl:message name="getValidatedBarcodes">
    <wsdl:part name="parameters" element="tns:getValidatedBarcodes" />
  </wsdl:message>
  <wsdl:message name="getInfo">
    <wsdl:part name="parameters" element="tns:getInfo" />
  </wsdl:message>
  <wsdl:message name="getTicketStatusFromEvent">
    <wsdl:part name="parameters" element="tns:getTicketStatusFromEvent" />
  </wsdl:message>
  <wsdl:message name="sendTicket">
    <wsdl:part name="parameters" element="tns:sendTicket" />
  </wsdl:message>
  <wsdl:message name="setTicketStatus2Response">
    <wsdl:part name="parameters" element="tns:setTicketStatus2Response" />
  </wsdl:message>
  <wsdl:message name="getEventsResponse">
    <wsdl:part name="parameters" element="tns:getEventsResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticationException">
    <wsdl:part name="AuthenticationException" element="tns:AuthenticationException" />
  </wsdl:message>
  <wsdl:message name="setTicketStatusResponse">
    <wsdl:part name="parameters" element="tns:setTicketStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="TicketSendSystemService">
    <wsdl:operation name="getTicketStatusFromTicketId">
      <wsdl:input name="getTicketStatusFromTicketId" message="tns:getTicketStatusFromTicketId" />
      <wsdl:output name="getTicketStatusFromTicketIdResponse" message="tns:getTicketStatusFromTicketIdResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="setTicketStatus2">
      <wsdl:input name="setTicketStatus2" message="tns:setTicketStatus2" />
      <wsdl:output name="setTicketStatus2Response" message="tns:setTicketStatus2Response" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="addCustomerPhoneStatus">
      <wsdl:input name="addCustomerPhoneStatus" message="tns:addCustomerPhoneStatus" />
      <wsdl:output name="addCustomerPhoneStatusResponse" message="tns:addCustomerPhoneStatusResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="resendTicket">
      <wsdl:input name="resendTicket" message="tns:resendTicket" />
      <wsdl:output name="resendTicketResponse" message="tns:resendTicketResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="getTicketStatusFromEvent">
      <wsdl:input name="getTicketStatusFromEvent" message="tns:getTicketStatusFromEvent" />
      <wsdl:output name="getTicketStatusFromEventResponse" message="tns:getTicketStatusFromEventResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <wsdl:input name="getEvents" message="tns:getEvents" />
      <wsdl:output name="getEventsResponse" message="tns:getEventsResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="setTicketStatus">
      <wsdl:input name="setTicketStatus" message="tns:setTicketStatus" />
      <wsdl:output name="setTicketStatusResponse" message="tns:setTicketStatusResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="sendTicket2">
      <wsdl:input name="sendTicket2" message="tns:sendTicket2" />
      <wsdl:output name="sendTicket2Response" message="tns:sendTicket2Response" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="getTicketStatusFromBarcode">
      <wsdl:input name="getTicketStatusFromBarcode" message="tns:getTicketStatusFromBarcode" />
      <wsdl:output name="getTicketStatusFromBarcodeResponse" message="tns:getTicketStatusFromBarcodeResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="getInfoFile">
      <wsdl:input name="getInfoFile" message="tns:getInfoFile" />
      <wsdl:output name="getInfoFileResponse" message="tns:getInfoFileResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="getValidatedBarcodes">
      <wsdl:input name="getValidatedBarcodes" message="tns:getValidatedBarcodes" />
      <wsdl:output name="getValidatedBarcodesResponse" message="tns:getValidatedBarcodesResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="sendTicket">
      <wsdl:input name="sendTicket" message="tns:sendTicket" />
      <wsdl:output name="sendTicketResponse" message="tns:sendTicketResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <wsdl:input name="getInfo" message="tns:getInfo" />
      <wsdl:output name="getInfoResponse" message="tns:getInfoResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="InvalidEventException" message="tns:InvalidEventException" />
      <wsdl:fault name="InternalErrorException" message="tns:InternalErrorException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TicketSendSystemServiceImplServiceSoapBinding" type="tns:TicketSendSystemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTicketStatusFromTicketId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTicketStatusFromTicketId">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTicketStatusFromTicketIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTicketStatus2">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setTicketStatus2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setTicketStatus2Response">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addCustomerPhoneStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addCustomerPhoneStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addCustomerPhoneStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTicketStatusFromEvent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTicketStatusFromEvent">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTicketStatusFromEventResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resendTicket">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="resendTicket">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="resendTicketResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEvents">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEventsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setTicketStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="setTicketStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setTicketStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTicketStatusFromBarcode">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTicketStatusFromBarcode">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTicketStatusFromBarcodeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendTicket2">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendTicket2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendTicket2Response">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInfoFile">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getInfoFile">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInfoFileResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getValidatedBarcodes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getValidatedBarcodes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getValidatedBarcodesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendTicket">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="sendTicket">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="sendTicketResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidEventException">
        <soap:fault use="literal" name="InvalidEventException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InternalErrorException">
        <soap:fault use="literal" name="InternalErrorException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketSendSystemServiceImplService">
    <wsdl:port name="TicketSendSystemServiceImplPort" binding="tns:TicketSendSystemServiceImplServiceSoapBinding">
      <soap:address location="http://edeploy.mpocket.com.br:8080/TicketSendSystem/Services/TicketSendSystemService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>